/* Responsive style sheet */

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
	.layout-6,		
	.layout-3{		
		.tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list > li a {
			padding: 8px 30px 8px;
			display: inline-block;
			width: 100%;
		}
	}
	.main-container .shop-products > div.item-col.first {
		clear: both;
	}
}

/*End min*/

@media screen and (max-width: 1200px) {
	.vg-max1200-12 {
		width: 100% !important;
	}
	.addthis_default_style .at300b,
	.addthis_default_style .at300bo,
	.addthis_default_style .at300m {
		padding: 0px !important;
	}
	.sp-main-menu-wrapper {
		&.home2 {
			#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link {
				padding: 10px 12px 10px 12px;
				&:after {
					display: none;
				}
			}
		}
	}
	.tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list > li {
		&.vc_active,&:hover {
			.vc_tta-title-text {
				.translate(0,-5px);
			}
		}
		a {
			width: auto;
			padding-bottom: 5px;
			i {
				display: none;
			}
		}
	}
	.vg-sidebar .widget .vg-title h3,
	.vg-sidebar .widget .widgettitle, 
	.vg-sidebar .wpb_text_column .vg-title h3, 
	.vg-sidebar .wpb_text_column .widgettitle,
	.vc_tta-container h2	{
		font-size: 16px;
	}
	.widget_mega_main_sidebar_menu .mega_main_menu li.tabs_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li.multicolumn_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li.widgets_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li.post_type_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li.grid_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li .mega_dropdown > li .post_details {
	    width: 721px;
	}
	.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li > a > .link_content > .link_text {
		font-size: 12px;
	}
	.page-shop {
		.vgwc-item {
			.ma-box-content {
				.vgwc-image-block {
					img {
						padding-right: 1px;
					}
				}
			}
		}
	}
	.widget .vg-title, .wpb_text_column .vg-title {
		font-size: 16px;
	}
	.main-container .page-content .entry-content .shop_table .product-name {
		width: 40%;
	}	
	.widget .vg-title h3, .wpb_text_column .vg-title h3,.vg-testimonial .wpb_wrapper > h2 {
		font-size: 16px;
	}
	
	.main-container {
		&.full-width {
			.vc_row {
				.row-container {
					max-width: 970px;
				}
			}
			.page-content {
				.entry-header {
					.entry-title {
						max-width: 970px;
					}
				}
				.entry-content {
					.woocommerce {
						max-width: 970px;
					}
				}
			}
		}
	}
	.main-container .page-content td.product-add-to-cart .button.alt {
		font-size: 0;
		&:before {
			content: "\f07a";
			font-size: 14px;
			display: inline-block;
			font-family: FontAwesome;
		}
	}
	.sidebar-category .woocommerce.widget_top_rated_products ul.product_list_widget li img {
		width: 60px;
		height: 80px;
	}
	.woocommerce ul.cart_list li .amount, .woocommerce ul.product_list_widget li .amount {
		font-size: 14px;
	}
	.form-newsletter2 .form-content form.widget_wysija p input.wysija-input {
		width: 200px;
	}
	.tweets-list-container {
		max-height: 300px;
	}
	.vg-md-none {
		display: none !important;
	}
	.vg-newsletter {
		.newsletter-container {
			padding-left: 375px;
		}
		.header-newsletter {
			h3 {
				font-size: 18px;
			}
		}
	}
	.social-icons {
		li {
			a {
				width: 30px;
				font-size: 18px;
				line-height: 30px;
				height: 30px;
			}
		}
	}
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
	.main-container .shop-products > div{
		&.first-sm {
			clear: both;
		}
	}
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
	.vg-sidebar .timer-grid,
	#secondary .timer-grid{
		margin-left: 9px;
	}
	.vgwc-item {
		&.vertical {
			.ma-box-content {
				padding: 0 0 15px 80px;
				margin: 0 15px 15px !important;
				.vgwc-image-block {
					width: 70px;
				}
			}
		}
	}
	.vg-content-page .vc_custom_1462724033877 {
		margin-bottom: 16px !important;
	}	
	.vgpc-wrapper {
		.vgpc-post-title {
			font-size: 15px;
			line-height: 20px;
		}
	}
	
	#secondary .vgwc-item.vertical .ma-box-content,
	.vg-sidebar .vgwc-item.vertical .ma-box-content {
	    padding: 0;
		.vgwc-image-block {
			position: static;
			margin: 0 auto 10px;
		}
		.vgwc-text-block {
			padding: 0;
			margin: 0 0 15px;
			text-align: center;
		}
		.vgwc-product-price ins, .product-price ins, .compare-list .price ins, .price ins {
			float: none;
		}
		
	}
	
	/*Setting VG vg-md Class width*/
	.vg-md-12{
		width:100% !important;
	}
	.vg-md-11{
		width:91.66666667% !important;
	}
	.vg-md-10{
		width:83.33333333% !important;
	}
	.vg-md-9{
		width:75% !important;
	}
	.vg-md-8{
		width:66.66666667% !important;
	}
	.vg-md-7{
		width:58.33333333% !important;
	}
	.vg-md-6{
		width:50% !important;
	}
	.vg-md-5{
		width:41.66666667% !important;
	}
	.vg-md-4{
		width:33.33333333% !important;
	}
	.vg-md-3{
		width:25% !important;
	}
	.vg-md-2{
		width:16.66666667% !important;
	}
	.vg-md-1{
		width:8.33333333% !important;
	}
	.vg-md-hidden {
	    display: none!important;
	}
	/*End Setting Class Width VG vg-md*/
}
@media screen and (max-width: 992px) and (min-width: 767px) {
	/*Setting VG SM Class width*/
	.vg-sm-12{
		width:100% !important;
	}
	.vg-sm-11{
		width:91.66666667% !important;
	}
	.vg-sm-10{
		width:83.33333333% !important;
	}
	.vg-sm-9{
		width:75% !important;
	}
	.vg-sm-8{
		width:66.66666667% !important;
	}
	.vg-sm-7{
		width:58.33333333% !important;
	}
	.vg-sm-6{
		width:50% !important;
	}
	.vg-sm-5{
		width:41.66666667% !important;
	}
	.vg-sm-4{
		width:33.33333333% !important;
	}
	.vg-sm-3{
		width:25% !important;
	}
	.vg-sm-2{
		width:16.66666667% !important;
	}
	.vg-sm-1{
		width:8.33333333% !important;
	}
	.vg-sm-visible {
		display: block !Important;
	}
	.vg-sm-hidden {
	    display: none!important;
	}
	/*End Setting Class Width VG SM*/
	.mobile-mega-menu > ul > li ul.sub-menu li a {
		padding: 0 5px;
		text-transform: capitalize;
		font-size: 11px;
	}
}
@media screen and (max-width: 992px) {
	.addthis_default_style .at300b,
	.addthis_default_style .at300bo,
	.addthis_default_style .at300m {
		padding: 0px 3px !important;
	}
	.layout-6,
	.layout-3{
		.home-banner-static .banner-box {
			padding: 0 20px 25px 20px;
			margin-right: 0;
			margin-top: 25px;
			text-align: center;
			.pull-left {
				position: static;
			}
			.banner-box-inner {
				margin-top: -22px;
				display: inline-block;
				width: 100%;
			}
		}		
	}
	.tab-products.vc_tta.vc_general.style2 {
		.vc_tta-tabs-container .vc_tta-tabs-list > li {
		    padding-right: 8px;
			a {
				.vc_tta-title-text {
					font-size: 13px;
					line-height: 20px;
				}
			}
		}
	}
	.vg-testimonial .wpb_wrapper > h2:before {
		width: 500%;
		right: -500%;
	}
	.home-banner-static {
		.banner-box {
		    text-align: center;
			.fa {
				float: none !IMPORTANT;
				padding: 0 0 15px;
			}
			.banner-title {
				font-size: 18px;
				line-height: 24px;
			}
			.banner-content {
				font-size: 12px;
				line-height: 18px;
			}
		}
	}
	.vg-contact-content .info {
		float: none;
		border: 0;
		li {
			float: none;
			border: 0;
		}
	}
	 
	.banner {
		display: none;
	}
	#top {
	   text-align: center;
	}
	.top-bar ul.menu,.top-bar ul.menu li,.sp-contact-info,.sp-contact-info li {
		float: none !important;
	}
	.sp-contact-info,
	.sp-contact-info .sp-contact-email,
	.top-bar ul.menu li,
	.top-bar ul.menu li:last-child,
	#sp-logo .logo {
		border: 0;
	}
	
	#sp-logo .logo {
		text-align: center;
		a {
			text-align: center;
			margin: 20px 0;
			width: auto;
		}
	}
	#sp-search-cart.media {
		margin: 0;
	}
	.widget_sp_image  {
		display: none !Important;
	}
	.sidebar-category .widget.widget_mega_main_sidebar_menu {
		display: none;
	}
	.main-container .page-content .entry-content .shop_table .product-name {
		width: 30%;
	}
	.mobile-menu-container {
		z-index: 999;
	}
	.visible-large {
		display: none;
	}
	.visible-small {
		display: block;
	}
	.vg-hot-sale.wpb_text_column .vg-title {
		margin: 0;
	}
	.widget_mega_main_sidebar_menu {
		.vg-title {
			span {
				padding: 15px 10px 13px 25px;
			}
		}
	}
	.mobile-menu-container > ul > li > a, .mobile-mega-menu > ul > li > a {
		padding: 0 10px;
	}
	.row-container {
		max-width: 750px;
	}
	
	.bottom-wrapper {
		> .container > .row {
			> div {
				padding-bottom: 30px;
				&:nth-child(3) {
					clear: both;
				}
			}
		}
	}
	#map-block{
		display: none;
	}
	#tweet-block,
	#contact-block{
		width: 50%;
	}
	.vg-social.social-network {
		text-align: center;
		.social-icons {
			padding: 0;
		}
	}
	#left-footer .vg-social.social-network .social-icons li:last-child {
		margin-left: 10px;
	}
	#left-footer .vg-social.social-network .social-icons li {
		margin: 10px 0 20px 10px;
	}
	.vg-hot-sale.wpb_text_column .vg-title h3 {
		font-size: 32px;
	}
	.timer-grid span { 
		display: block;
	}
	
	.main-container .shop-products .item-col .product-wrapper .product-image .quick-wrapper {
		bottom: 5px;
		right: 5px;
	}
	.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button {
		font-size: 0;
		&:before {
			font-size: 14px;
			margin: 0;
		}
	}
	.form-newsletter .row-container {
		max-width: 730px !important;
	}
	.latest-news .spc-container .spc-list li {
		width: 50% !important;
		float: left;
		.image-block {
			width: 100%;
		}
		.text-block { 
			width: 100%;
			padding: 15px 0px 0px 0px;
		}
	}
	.bottom-static-title h4 {
		font-size: 18px;
	}
	.bottom-link .menu-link .nav_menu li {
		a {
			padding-right: 15px;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.footer-static-title h4 {
		font-size: 12px;
	}
	.sidebar-category .widget_sp_image img {
		display: none;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields h3, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields h3 {
		font-size: 24px;
	}
	.main-container .page-content .entry-content #order_review_heading {
		font-size: 24px;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields label.checkbox, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields label.checkbox {
		font-size: 24px;
	}
	.yith_magnifier_mousetrap {
		display: none;
	}
	.main-container .product-view .upsells_products_widget, .main-container .product-view .related_products_widget {
		margin-bottom: 30px;
	}
	.main-container.about-page .vina-addon-content .vina-img img {
		width: 100%;
	}
	.main-container.about-page .vc_tta.vc_tta-tabs .vc_tta-tabs-list li a {
		font-size: 11px;
	}
	.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-title-text {
		font-size: 11px;
	}
	.main-container.page-faq .vina-boxed .vina-action {
		padding: 10px;
		font-size: 12px;
	}
	.main-container.page-faq .features-item {
		text-align: center;
		i { 
			float: none;
			margin: 0;
		}
		.features-info {
			width: 100%;
		}
	}
	.form-newsletter2 {
		margin-top: 0 !important;
		.images {
			width: 100%;
		}
	}
	
	.vina-title2 h2 {
		font-size: 20px !important;
	}
	.header{
		padding: 0;
	}
}
@media screen and (max-width: 767px) {
	.cateproductmenu .widget_mega_main_sidebar_menu .vg-title h3:before {
		display: none;
	}
	.widget.widget_shopping_cart {
		margin-bottom: 0;
	}
	.main-container.about-page .achievements {
		padding-left: 0;
	}
	.mini_cart_inner {
		z-index: 100000;
	}
	.box-timer {
		position: static;
		display: inline-block;
		width: 100%;
	}
	.main-container .shop-products > div{ 
		&:nth-child(2n + 3) {
			clear: both;
		}
	}
	.sp-main-menu-wrapper.home2 {
		&.none-left {
			padding-top: 20px;
			.sp-cart {
			    top: -47px;
			}
		}
	}
	#sp-search-cart.media {
		display: inline-block;
		width: 100%;
	}
	.mini_cart_inner{
		text-align: center;
	}
	#sp-search-cart {
		.sp-cart {
			padding: 0;
			display: inline-block !important;
			width: 100%;
			float: none;
			.top-cart-title {
				float: none;
				display: inline-block;
			}
		}
		#sp-search {
			width: 100%;
			padding-top: 0;
			margin-bottom: 20px;
			display: inline-block;	
		}
	}
	.vg-btn-revo2 a {
		line-height: 18px !Important;
		padding: 7px 26px !important;
	}	
	/*Set product button in mobile*/
	.cateproductmenu .widget_mega_main_sidebar_menu .vg-title {
		padding: 2px 0 1px 20px !Important;
	}
	.sp-main-menu-wrapper.home2 .sp-cart {
	    top: -102px;
	}
	
	.header-block-static {
		.box-col-inner {
			display: inline-block;
			float: none;
			width: 100%;
			margin-bottom: 10px;
			.pull-left {
				float: none !important;
				display: inline-block;
			}
			.media-body {
				display: inline-block;
				width: auto;
				text-align: center;
			}
		}
	}
	
	.vg-newsletter {
		.newsletter-container {
		    padding-left: 0;
		    position: static;
			.header-newsletter {
				position: static;
				padding-bottom: 15px;
			}
		}
	}
	
	/*End Set product button in mobile*/
	
	.tab-products.vc_tta.vc_general {
		.vc_tta-panel-body {
			padding: 21px 0;
			background: none !important;
		}
		.vc_tta-panel-heading {
			border-radius: 0;
			background: none !important;	
			i {
				display: none;
			}
			.vc_tta-title-text {
				margin: 0;
			}
		}
	}

	/*Page category*/
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8,
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col4 {
		padding: 0;
	}
	.main-container .shop-products.list-view .vgwc-item .ma-box-content .vgwc-image-block {
		margin-bottom: 8px;
	}
	.main-container.about-page .vina-addon-content .vina-img img {
		margin: 0;
	}
	.quickview-wrapper #quickview-content .main-container .product-view > .row > div {
		width: 100%;
	}
	.quickview-wrapper #quickview-content .main-container .product-view .summary.single-product-info {
		margin-top: 20px;
	}
	.bottom-wrapper > .container > .row > div {
		padding-bottom: 0;
	}
	.menu-top-menu-container {
		text-align: center;
		ul {
			float: none;
		}
	}
	.copyright {
		text-align: center;
		margin-bottom: 10px;
	}
	.col-payment {
		text-align: center;
	}
	.main-container.front-page .page-content {
	    padding: 0 15px;
	}
	.logo-bottom .bottom-static-content {
		padding-right: 0;
	}
	
	.top-info {
		text-align: center;
	}
	
	.topbar-menu {
		text-align: center;
		border-top: 1px solid #383838;
		.nav-menu {
			float: none;
		}
	}
	.vg-search {
		text-align: center;
		.widget_product_search {
			display: inline-block;
		}
	}
	.vg-cart {
		text-align: center;
		.widget_shopping_cart {
			display: inline-block;
		}
	}
	.wpb_single_image .vc_single_image-wrapper {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.sentech-banner {
		margin-top: 20px;
	}
	.banner-box {
		margin-top: 20px;
	}
	.vc_tta.vc_general .vc_tta-panel {
		margin-bottom: 15px;
	}
	.form-newsletter {
		.row-container {
			max-width: 565px !important;
			padding: 40px 20px !important;
		}
		.form-content {
			position: relative;
			z-index: 9;
		}
		.images {
			width: 50%;
		}
	}
	.vgwc-wrapper.owl-carousel .vgwc-image-block {
		img {
			width: 100%;
		}
	}
	.banner-box img {
		width: 100%;
	}
	.latest-news {
		margin-top: 30px;
	}
	.main-container .shop-products.list-view .item-col .product-wrapper .list-col4 {
		width: 40%;
	}
	.main-container .shop-products.list-view .item-col .product-wrapper .list-col8 {
		width: 60%;
	}
	.main-container .page-content .entry-content .actions .cart-total-wrapper {
		margin-top: 30px;
		float: left;
	}
	.main-container .page-content .entry-content #customer_details {
		padding-right: 15px;
		width: 100%;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields {
		margin-bottom: 30px;
	}
	.main-container .page-content .entry-content #order_review {
		width: 100%;
	}
	.main-container .page-content.blog-nosidebar .post-thumbnail {
		border: none;
		width: 100%;
	}
	.main-container .page-content.blog-nosidebar .postinfo-wrapper {
		width: 100%;
	}
	.filter-options .btn {
		padding: 10px;
	}	
	.single-project.has-gallery .gallery, .single-project.no-gallery .gallery {
		margin-bottom: 20px;
	}
	.single-project.has-gallery .gallery a, .single-project.no-gallery .gallery a {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.about-title {
		margin-top: 20px !important;
	}
	.vina-img {
		margin-top: 25px;
	}
	.main-container.services-page .services-content h2 {
		margin-top: 20px;
	}
	.main-container.services-page .services-list h3 {
		margin-top: 20px;
	}
	.vina-addon-content {
		margin-bottom: 20px !important;
	}
	.main-container.page-faq .vina-boxed {
		margin-top: 30px;
	}
	.form-newsletter2 .images {
		height: 100%;
		width: auto;
	}

	.title4::after {
		display: none;
	}
	
	.carousel-products {
		margin-top: 20px;
	}
	.bottom-static-title {
		margin-top: 25px;
	}
	.bottom-link .menu-link .nav_menu {
		float: left;
	}
	.footer-static-title h4 {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.payment {
		float: right;
	}
	.top-wrapper{
		.widget_nav_menu,
		.widget_text{
			width: 100%;
		}
	}
}
@media screen and (max-width: 599px) {
	.vg-newsletter .newsletter-container .header-newsletter {
		padding-top: 15px;
	}
	.brands-carousel .brands-inner {
		text-align: center;
	}
	
	/*Page Category*/
	.main-container {
		.shop-products,.shop-category {
			> div {
				width: 100%;
			}
		}
	}
	.top-bottom-wrapper > .container {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.main-container .product-view .product .woocommerce-tabs ul.tabs li a {
		padding: 8px 12px;
		font-size: 13px;
	}
	.quickview-wrapper #quickview-content .main-container .product-view > .row > div {
		width: 100%;
	}
	.front-page.front-page-2,.front-page.front-page-3 {
		.vg-hot-sale {
		    margin-top: 0px;
		}
	}
	.blog-page .social-sharing {
		text-align: center;
		.widget-title {
			width: 100%;
			text-align: center;
			padding-bottom: 8px;	
		}
		.social-icons {
			float: none;
		}
	}
	.main-container .page-content .entry-content .shop_table {
		thead {
			display: none;
		}
		td {
			display: inline-block;
			width: 100%;
			text-align: center;
		}
		.product-name {
			width: 100%;
			
		}
		td.product-name {
			text-align: center;
		}
		.product-thumbnail {
			max-width: 100%;
			a {
				display: inline-block;
			}
		}	
		.product-add-to-cart .button.alt {
			display: inline-block;
			float: none;
			margin: 0;
			width: 100%;
		}
		.button, .button.alt, #submit {
			width: 100%;
			margin: 5px 0px;
		}
		.quantity {
			display: inline-block;
		}
	}
	
	.vina-tab-list-product .wpb_tabs_nav > li > a {
		font-size: 14px;
	}
}
@media screen and (max-width: 479px) {
	#right-footer #second-right-footer{
		.vg-bottom-menu{
			width: 100%;
		}
	}
	.owl-theme .owl-controls .owl-pagination {
		display: none;
	}	
	.vertical-theme.owl-theme .owl-controls .owl-pagination {
		display: block;
	}
	
	.sp-contact-info {
	    padding: 10px 0 0;
	}
	.top-bar ul.menu li a {
	    padding: 5px 8px;
	}
	.widget.icon .vg-title, .wpb_text_column.icon .vg-title {
	    padding-left: 0;
		h3 {
			padding-top: 0;
			i {
				display: none;
			}
		}
	}
	.mini_cart_inner:hover .mcart-border {
		
	}
	.vg-newsletter .header-newsletter h3 {
		font-size: 14px;
	}
	/*quantity*/
	.quantity {
		.input-text, input[type="text"], .form-row .input-text {
			width: 30px;
			height: 30px;	
		}
		.minus, .plus {
			font-size: 12px;
			width: 30px;
			height: 30px;
			line-height: 30px;
		}
	}
	
	.main-container .product-view .summary.single-product-info .cart .quantity .input-tex
	.main-container .product-view .summary.single-product-info .cart .addtocart-button .button {
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		padding: 0 18px 0 30px;
	}
	.main-container .product-view .summary.single-product-info .cart .addtocart-button:before {
		font-size: 14px;
	}
	.sp-main-menu-wrapper {
		> .container {
			> .row-container
				.sp-top-contact,.menu-wrapper {
				width: 100%;
			}
		}
	}
	.top-bar ul li {
		padding: 0 15px;
		border: none;
		&:last-child {
			border: none;
		}
	}
	.menu-top-menu-container ul li a {
		line-height: 26px;
	}
	.mcart-border {
		right: -55px;
	}
	.main-container .shop-products .item-col {
		width: 100%;
	}
	.form-newsletter .row-container {
		max-width: 82% !important;
	}
	.form-newsletter .form-content form.widget_wysija p input.wysija-input {
		width: 200px;
	}
	.main-container .toolbar .woocommerce-result-count {
		margin: 0;
	}
	.main-container .page-content .entry-content .customer_login form.login .form-action label, .main-container .page-content .entry-content .customer_login form.register .form-action label {
		float: left;
	}
	
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields label.checkbox, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields label.checkbox {
		font-size: 18px;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields h3, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields h3 {
		font-size: 18px;
	}
	.main-container .page-content .entry-content #order_review_heading {
		font-size: 18px;
	}
	.main-container .page-content .entry-content .shop_table.woocommerce-checkout-review-order-table td {
		display: table-cell;
		width: auto;
	}
	.main-container .product-view .summary.single-product-info .actions .add-to-links {
		margin-bottom: 10px;
	}
	.main-container .product-view .product .woocommerce-tabs ul.tabs li {
		width: 100%;
		float: left;
		border: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #ededed;
		&.active {
			margin-bottom: 0;
			border-top: 1px solid transparent;
		}
	}
	.main-container .product-view .summary.single-product-info .group_table .group-row .price {
		.old-price {
			font-size: 14px;
		}
		.special-price {
			font-size: 14px;
			margin-right: 5px;
		}
	}
	.main-container .page-content.blog-page .postinfo-wrapper {
		.post-date {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			color: #222;
			height: auto;
			left: 0;
			position: inherit;
			text-align: left;
			top: 0;
			width: auto;
			.day {
				color: #222;
				display: inline-block;
			}
			.month {
				color: #222;
				margin-left: 5px;
			}
		}
		.post-info {
			margin-left: 0;
		}
	}
	.main-container .page-content.blog-page .social-sharing .social-icons li {
		margin: 0 5px 10px 0;
		width: auto;
		.social-icon { 
			height: 40px;
			line-height: 36px;
			width: 40px;
		}
	}
	.main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-author, .main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-email, .main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-url {
		width: 100%;
	}
	.filter-options .btn {
		margin-top: 5px;
	}
	.single-project.has-gallery .gallery a img, .single-project.no-gallery .gallery a img {
		width: 70px;
		height: 70px;
	}
	.single-project.has-gallery .project_date, .single-project.no-gallery .project_date {
		width: 100%;
	}
	.single-project.has-gallery .project_date .social-sharing .social-icons li, .single-project.no-gallery .project_date .social-sharing .social-icons li {
		margin: 0 5px 10px 0;
		width: auto;
		.social-icon { 
			height: 40px;
			line-height: 36px;
			width: 40px;
		}
	}
	.single-project.has-gallery .summary, .single-project.no-gallery .summary {
		float: none;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}
	.main-container.about-page .vc_general.vc_cta3 .vc_cta3-content-header h2 {
		font-size: 20px;
	}
	.main-container.about-page .vc_general.vc_cta3 {
		padding: 50px 20px;
	}
	.form-newsletter2 {
		padding: 60px 20px;
	}
	.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button {
		font-size: 12px;
		&:before {
			margin: 0 5px 0px 0px;
		}
	}
	.vg-479-hidden {
	    display: none!important;
	}
}
@media screen and (max-width: 319px) {
	.timer-grid {
		.hour, .min,.sec {
			font-size: 10px;
			text-align: center;
		}
		span {
			font-size: 18px;
		}
		.day {
			span {
				font-size: 30px;
			}
		}
	}
	.vina-title {
		text-align: left;
		padding-left: 0;
	}
	.main-container .product-view .summary.single-product-info .cart .button {
		margin-top: 10px;
	}
	.main-container .product-view .summary.single-product-info .actions .add-to-links .compare-button {
		margin-bottom: 10px;
	}
}


@media screen and (max-width: 1200px) {
	.front-page .vc_row .row-container{ 
		max-width: 970px;
	}
	.about-us-wrapper,
	.contact-page .contact-fom-info{
		.row-container {
			width: 970px;
		}
	}
	.tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list > li a i{
		font-size: 35px;
	}
	.sp-main-menu-wrapper .wrapper-main-menu #sp-call .call_sp >a{
		left: -1px;
	}
	#footer-corporate .block-wrapper .media-body{
		font-size: 0.81em;
	}
	.vg-social.social-network{
		padding: 0;
	}
	.sv-tab-products{
		.owl-carousel .owl-controls .owl-buttons > div{
			.translate(0, -138px);
		}
	}
	.vg-deal-of-the-day{
		.wpb_text_column .vg-title h3{
			font-size: 1.3em;
			line-height: 55px;
		}
		.vgwc-item.item-timeproduct{
			.ma-box-content{
				margin: 0 15px;
				padding-bottom: 20px;
			}	
		}	
	}
	.layout-6,
	.layout-3{
		.vc_tta-container h2,
		.vg-title >h3{			
			&::before{
				width: 15px;
			}
		}
		.tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list > li{
			a{
				width: 100%;
				i{
					display: block;
				}			
			}
			&.vc_active,&:hover{
				a{
					padding-top: 5px;
					width: 100%;
				}
			}		
		}		
	}
	.layout-5,
	.layout-4,
	.layout-2,
	.layout-1{
		.category-main-menu{
			.widget .vg-title{
				min-width: 100%;
				cursor: pointer;
			}	
		}
		.vg-timeproduct-2 .vgwc-item.item-timeproduct-2 .ma-box-content{		
			.vgwc-text-block {
				padding: 3px 15px 13px 15px;
				.vgwc-product-price {
					margin: 7px 0 10px;
				}						
			}
		}
		.sv-deal-home-1 .vg-title h3::before {
			width: 13px;
		}
		&.page-template-front-page .category-main-menu >.widget_mega_main_sidebar_menu .mega_main_menu{
			display: none;	
		}
		.vc_tta-container h2::before,
		.vg-title >h3::before{
			width: 16px;
		}	
		#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.menu-item-has-children > .item_link {
			padding: 0px 27px 0 14px;
		}
		#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li .item_link {
			padding: 0 8px;
		}
		.vg-slider-block{
			.row-container >.vc_col-sm-9{
				width: 100%;				
			} 
		}
		.tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list > li{
			a{
				width: 100%;
				padding-top: 5px;
				padding-bottom: 5px;				
				i{
					display: block;
				}			
			}
			&.vc_active,&:hover{
				a{
					padding-top: 5px;
					padding-bottom: 5px;
					width: 100%;
				}
			}		
		}
		.sv-tab-products .owl-carousel .owl-controls .owl-buttons > div{
			.translate(0, -138px);
		}		
	}
	.layout-5 .vc_custom_1462778364952,
	.layout-2 .vc_custom_1462778364952,
	.layout-4.vc_custom_1462724099587,
	.layout-1.vc_custom_1462724099587 {
		margin-bottom: 6px !important;
	}		
	.vgwc-item .ma-box-content{
		margin: 0 17px !Important;	
	}
	#secondary.sidebar-category .widget_price_filter form .price_label {
		font-size: 1em;
	}
	.page-template-front-page .category-main-menu{
		.widget_mega_main_sidebar_menu{
			.vg-title h3{
				&::before,
				&::after{
					display: none;
				}
			}
		}
	}
	.vc_custom_1462724099587 {
		margin-bottom: 6px !important;
	}
	.vg-social.social-network .social-icons li {
		margin: 10px 0 0 10px;
	}
	
	#contact-block .footer-static-content .link-contact >li >span.contact-icon{
		vertical-align: top;
	}
	#contact-block .footer-static-content .link-contact >li >span.all_wrapper {
		width: 76%;
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-add-to-cart{
		margin-bottom: 15px;
	}
	.vc_custom_1462700314307 {
		margin-bottom: 16px !important;
	}
	.vc_custom_1462724099587 {
		margin-bottom: 6px !important;
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group2 .add-to-links > * {
		margin: 0 0 0 4px !Important;
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group2 .add-to-links > * a {
		width: 45px;
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group2 .add-to-links > * a:after{
		width: 45px;
	}
}/* The end max-width: 1200px */
@media screen and (max-width: 1023px){
	.sp-main-menu-wrapper .wrapper-main-menu {
		background: transparent;
	}
	.layout-6,
	.layout-3{
		.sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
			padding-right: 0;
			padding-left: 15px;
			width: 50%;
			z-index: 3;
			float: left;
		}
		.sp-main-menu-wrapper .wrapper-main-menu #sp-call {
			padding-left: 15px;
			padding-right: 15px;
			width: 50%;
		}
		.mobile-menu-container > ul > li:first-child{
			border-top: 1px solid #ebebeb;
		}
		.sp-main-menu-wrapper .wrapper-main-menu #sp-call .call_sp >a {
			left: 15px;
		}
		.mega_main_menu{
			display: none;
		}
		.visible-small{
			display: block;
		}
	}
	.layout-6,
	.layout-5,
	.layout-4,
	.layout-2,
	.layout-1,
	.layout-3{
		.page-shop{
			.mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > ul{
				li{
					width: 100%;
				}
			}
		}		
	}
	.layout-5,
	.layout-4,
	.layout-1,
	.layout-2{
		.mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > ul{
			display: block;
			li{
				display: inline-block;
				width: auto;
			}	
		}		
	}
	.layout-6,
	.layout-3{
		.mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > ul{
			display: block;	
		}
		.mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul {
			>li,
			& >li.nav_search_box{
				float: left;
				display: block;
				width: auto;				
			}					
		}
	}
	#footer-corporate .block-wrapper .media-body{
		font-size: 0.86em;
		margin: 10px 0 0 3px;
	}
	.category-product{
		.mega_main_menu_ul{
			li{
				width: 100% !important;
			}
		}
	}
	.category-main-menu{
		.mega_main_sidebar_menu{
			.mega_main_menu_ul{
				li{
					width: 100% !important;
				}
			}	
		}	
	}
	.menu-wrapper{
		z-index: 9;
		#mega_main_menu.primary{
			display: none;
		}
		.visible-small{
			display: block;
		}
	}
	.layout-5 .category-main-menu .morelesscate span,
	.layout-4 .category-main-menu .morelesscate span,
	.layout-1 .category-main-menu .morelesscate span,
	.layout-2 .category-main-menu .morelesscate span {
		font-size: 14px;
		height: 40px;
		line-height: 40px;
	}
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper{
		padding-right: 15px;
	}
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
		width: 50%;
		margin: 0;
		margin-bottom: 20px;
	}
	.header-menu .mega_main_menu{
		display: none;
	}
	.sp-main-menu-wrapper .wrapper-main-menu #sp-call{
		width: 100%;
		padding-left: 15px;
	}
	.sp-main-menu-wrapper .wrapper-main-menu #sp-call .call_sp >a {
		left: 15px;
	}

	.sp-main-menu-wrapper .category-main-menu .widget_mega_main_sidebar_menu .vg-title::before{
		font-family: FontAwesome;
		content: "\f13a";
		left: auto;
		right: 0;
		line-height: 56px;
		font-size: 19px;
		text-align: center;
		color: @white;
	}	
	
}/* The end max-width: 1023px */
@media screen and (max-width: 992px) {
	#footer-corporate .block-wrapper .media-body{
		font-size: 0.915em;
	}
	.main-container .toolbar {
		margin: 0px -1px 30px;
	}
	.about-us-wrapper,
	.contact-page .contact-fom-info{
		.row-container {
			width: 750px;
		}		
	}
	.vgwc-item .ma-box-content{
		margin: 0 15px !Important;	
	}
	.category-main-menu .mobile-menu-container, .category-main-menu .mobile-mega-menu {
		display: none;	
		width: 100%;
		position: absolute;
		z-index: 9;
		top: 100%;
		left: 0;
		border-top: 1px solid @white;
	}
	#secondary{
		#mega_main_menu{
			display: none;
		}
	}
	.layout-5,
	.layout-4,
	.layout-1,
	.layout-2{
		.category-main-menu{
			z-index: 99;	
			.mega_main_sidebar_menu{
				display: none !important;	
			}
		}
		.category-main-menu{
			.vc_tta-container h2::after,
			.vc_tta-container h2::before,
			.vg-title >h3::before,
			.vg-title >h3::after{
				display: none;
			}				
		}
	}
	.front-page .vc_row .row-container{ 
		max-width: 750px;
	}
	.layout-6,
	.layout-3{
		.mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > ul{
			display: none;	
		}		
		.vc_col-sm-3,
		.vc_col-sm-9,
		.vg-deal-of-the-day{
			width: 100%;
		}	
	}
	#banner-sentech,.banner-sentech{
		display: none;	
	}
	#footer-corporate .block-wrapper{
		padding: 15px 10px;
		.media-body{
			min-height: 72px;
			margin: 0;
			text-align: center;
		}
	}
	.sp-main-menu-wrapper .wrapper-main-menu #sp-call{
		padding-left: 15px;
	}
	.sp-main-menu-wrapper .wrapper-main-menu #sp-call .call_sp >a {
		left: 16px;
	}
	.vg-sidebar .widget, .vg-sidebar .wpb_text_column{
		.vg-title {
			min-width: 260px;
			width: auto;
		}	
	}
	.sp-main-menu-wrapper{
		margin-top: -1px;
	}
	#secondary .widget_mega_main_sidebar_menu .vg-title h3 {
		background-position: 97% 23px;
	}
	.layout-4 .vg-timeproduct-2 .vgwc-item.item-timeproduct-2 .ma-box-content .vgwc-text-block,
	.layout-1 .vg-timeproduct-2 .vgwc-item.item-timeproduct-2 .ma-box-content .vgwc-text-block {
		padding: 3px 15px 8px 15px;
	}
}/* The end max-width: 992px */
@media screen and (max-width: 767px) {
	.row-container { 
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.top-wrapper .widget_nav_menu #menu-top-menu >li a{
		border-right: 0;
	}
	.share_buttons {
		margin-top: 10px;
	}
	.about-us-wrapper,
	.contact-page .contact-fom-info .row-container {
		width: 100%;
	}	
	#footer-corporate .block-wrapper .media-body h3{
		padding-top: 10px;
		font-size: 1.3em;
	}
	#second-right-footer .vg-bottom-menu{
		width: 33.3%;
	}
	#footer-corporate{
		.col-smb-12:not(:last-child){
			margin-bottom: 10px;
		}
	}
	#left-footer .vg-social.social-network .social-icons li,
	#left-footer .vg-social.social-network .social-icons li:last-child{
		margin: 10px 0 20px 15px;
	}
	#left-footer .wrapper-left-ft .news-letter .widget_wysija_cont input.wysija-input{
		max-width: 300px;
		display: inline-block;
		float: left;
		margin-right: 15px;
	}
	#sp-search-cart.media {
		margin: 12px 0 12px;
	}
	.vgwc-item.vertical.style2{
		text-align: center;
		>.vgwc-item-i{
			width: 320px;
			display: inline-block;
			float: left;
			.ma-box-content{
				float: left;
				padding: 0px 0 20px 120px;
			}
		}
	}
	.sv-tab-products .owl-carousel .owl-controls .owl-buttons > div{
		.translate(0, -94px);
	}
	.vg-content-page .vg-deal-of-the-day .wpb_text_column .vg-title h3 {
		font-size: 1.3em;
		line-height: 50px;
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left {
		padding: 0px 15px 0 15px;
	}
	.layout-5,
	.layout-4,
	.layout-1,
	.layout-2{
		.sv-tab-products .owl-carousel .owl-controls .owl-buttons > div{
			.translate(0, -94px);
		}
		.vgwc-item.item-timeproduct-2 .ma-box-content .vgwc-text-block .vgwc-product-price{
			width: 100%;
			del,
			ins,
			span{
				float: right;
				line-height: 23px;
			}
		}
		.vgwc-item .ma-box-content .vgwc-text-block{
			text-align: center;										
		}
		.vertical_1.style1{
			.vgwc-product-price{
				float: none;
				display: inline-block;
				width: auto;
			}
		}
		.vertical.style2 .ma-box-content .vgwc-text-block{
			text-align: left;
		}
	}
	.layout-4,
	.layout-1{
		.vg-timeproduct-2 .vgwc-item.item-timeproduct-2 .ma-box-content {
			.vgwc-text-block{
				text-align: center;							
				.vgwc-product-title{
					text-align: center;							
				}
			}
			.box-timer{
				float: none;
			}
			.vgwc-wrapper-price{
				display: inline-block;
				width: 100%;
				.vgwc-product-price{
					float: none;
					width: auto;
					display: inline-block;
				}
			}	
		}
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-product-price{
		width: 100%;
		text-align: center;
		ins{
			float: none;
		}
	}
	.vg-slider-block{
		.vc_col-sm-8{
			>.vc_column-inner{
				padding: 0;
			}
		}
	}
	.main-container.services-page .tab-services .vc_general.vc_tta-tabs.tab-services-content .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab{
		width: 100%;
	}
	.main-container.services-page .col-md-5ths, .main-container.services-page .col-lg-5ths{
		width: 100%;
		margin-bottom: 15px;
	}
	.main-container .page-content .entry-content .shop_table {
	  thead {
	   display: none !important;
	  }
	  th,
	  td {
	   display: inline-block !important;
	   width: 100% !important;
	   text-align: center;
	  }
	  
	  .product-name {
	   width: 100%;
	   
	  }
	  td.product-name {
	   text-align: center;
	  }
	  .product-thumbnail {
	   max-width: 100%;
	   a {
		display: inline-block;
	   }
	  } 
	  .product-add-to-cart .button.alt {
	   display: inline-block;
	   float: none;
	   margin: 0;
	   width: 100%;
	  }
	  .button, .button.alt, #submit {
	   width: 100%;
	   margin: 5px 0px;
	  }
	  .quantity {
	   display: inline-block;
	  }
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-text-block .vgwc-product-title{
		text-align: center;	
		.vgwc-product-rating{
			text-align: center;
		}	
	}
	.main-container .toolbar .woocommerce-result-count{
		display: none;
	}
	.main-container{
		.slider-home-3,
		.sv-slider-home-2,
		.sv-slider-home-1{
			margin-bottom: 20px !important;
		}		
	}
	.about-us-wrapper .row-container,
	.contact-page .contact-fom-info .row-container {
		width: 100%;
	}
	.sp-cart.media-right{
		.widget_shopping_cart_content{
			text-align: center;
			.mini_cart_content{
				text-align: center;
				display: inline-block;
				float: none;
			}
		}
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-text-block{
		text-align: center;
	}
	.main-container .shop-products.list-view .item-col .ma-box-content{
		.list-col8 .listview .vgwc-button-group2 {
			display: inline-block;
			width: auto;
		}
		.timer-grid {
			margin-bottom: 0px;
		}			
	}
	#left-footer .wrapper-left-ft{
		height: auto !important;
		padding: 40px 0 10px;
	}
}/* The end max-width: 767px */
@media screen and (max-width: 599px){
	#contact-block .footer-static-content .link-contact >li >span.all_wrapper {
		width: 73%;
	}
	#left-footer .wrapper-left-ft .news-letter .widget_wysija_cont{
		.wysija-paragraph{
			display: inline-block;
			width: 100%;					
		}
		input.wysija-input{
			max-width: 100%;
			margin-right: 0px;
		}
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview {
		.vgwc-text-block{
			text-align: center;	
		}
		.vgwc-button-group2{
			width: auto;			
		}
	}
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
		width: 100%;
	}
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
		padding-left: 15px;
	}	
	.sv-slider-home-1,
	.sv-slider-home-2,
	.sv-slider-home-2{
		.sv-button-slider{
			display: none !important;											
		}
		.tp-caption{
			a{
				display: none !important;								
			}
		}		
	}
	.page-content .post-thumbnail > a {
		width: 100%;
		img{
			width: 100%;
		}
	}
	.layout-6,
	.layout-3{
		.sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
			margin-bottom: 20px;
			padding-right: 15px;
			width: 100%;
		}
		.sp-main-menu-wrapper .wrapper-main-menu #sp-call {
			width: 100%;
		}
	}
	.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div{
		width: 100%;
		&.label {
			display: inline-block;
			line-height: 30px;
			padding-top: 10px;			
		}
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block{
		text-align: center;
		.vgwc-product-price{
			margin: 0px 0 10px;
			width: auto;
			float: none;
			display: inline-block;			
		}
		.vgwc-add-to-cart {
			display: inline-block;
			float: none;
			margin-right: 0;
			position: relative;
			width: 100%;
			text-align: center;
			margin-bottom: 15px;
			>p >.button {
				padding: 0px 24px;
			}
		}	
		.vgwc-wrpper-button .vgwc-button-group {
			display: inline-block;
			float: none;
			margin-top: 0;
			.vgwc-quick{
				float: none;
				margin-bottom: 3px;
			}
			.add-to-links{
				float: none;	
			}
		}
	}
	.vgwc-item.vertical_1.style1 .ma-box-content .vgwc-text-block{
		text-align: center;
		.vgwc-product-price,.product-price,.compare-list .price,.price{
			float: none;
			width: auto;
			display: inline-block;
		}
	}
	.vgwc-product-price > del, .product-price > del, .compare-list .price > del, .price > del{
		margin: 0 0 0 5px;
	}
	
}/* The end max-width: 599 */
@media screen and (max-width: 479px){
	.main-container .product-view .summary.single-product-info .vgwc-product-price{
		width: 100%;
	}
	.top-bar .top-info {
		text-align: center;
	}
	.main-container .toolbar .woocommerce-ordering select{
		width: 136px;
	}
	#contact-block .footer-static-content .link-contact >li >span.all_wrapper {
		width: 76%;
	}
	.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div{
		&.label {
			padding-top: 0px;			
		}
	}
	.quantity .input-text, .quantity input[type="text"],
	.quantity .form-row .input-text {
		line-height: 30px;
		height: 30px !important;
	}
	#second-right-footer .vg-bottom-menu:not(:first-child){
		margin-top: 20px;
	}
	.vgwc-item.vertical .ma-box-content .vgwc-text-block .vgwc-product-title{
		text-align: left;
	}	
	.vgwc-item .ma-box-content .vgwc-text-block{
		text-align: center;
	}
	.vgwc-product-price, .product-price, .compare-list .price, .price {
		float: none;
		width: auto;
		display: inline-block;
	}	
	.vgwc-product-title{
		text-align: center;
	}
	.owl-carousel .owl-controls .owl-buttons > div,
	.sv-tab-products .owl-carousel .owl-controls .owl-buttons > div{
		display: none !important;
	}
	#second-right-footer .vg-bottom-menu,
	#tweet-block, #contact-block {
		width: 100%;
	}
	.vgwc-item.item-timeproduct{
		.vgwc-full-right,.vgwc-full-left{
			width: 100%;
		}		
	}
	.vg-content-page .vg-deal-of-the-day .wpb_text_column .vg-title {
		margin-bottom: 5px;
		width: 50%;
		min-width: 100%;
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-add-to-cart {
		float: left;
		margin-right: 5px;
		width: auto;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-product-price,
	.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button {
		margin-bottom: 15px;
	}	
}/* Th end max-width: 479px */

@media screen and (max-width: 375px){
	.mcart-border {
		right: -80px;
		&::after{
			right: 50%;
		}
	}
	.vgwc-item.vertical.style2 >.vgwc-item-i {
		width: 288px;
		display: inline-block;
		.ma-box-content {
			padding: 0px 0 20px 115px;
		}			
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-add-to-cart >p >.button {
		padding: 0px 9px;
		font-size: 13px;
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left {
		padding: 0px 14px 0 14px;
	}
	.addthis_default_style .at300b,
	.addthis_default_style .at300bo,
	.addthis_default_style .at300m {
		padding: 0px !important;
	}	
}/* The end max-width: 379px */

@media screen and (max-width: 319px){
	
}/* The end max-width: 319px */







