/* Less Variables */

// Fonts

@bodyfont: 				@body_font, Arial, Helvetica, sans-serif;
/*Bootstrap icon font: 'Glyphicons Halflings'*/
// Colors
@primarycolor: 			@primary_color;
@primaryhovercolor:   	@primary_hover_color;
@primarycolor2: 		@primary_color2;
@textcolor: 			@text_color;
@topheadercolor: 		@top_header_color;
@headercolor: 			@header_color;
@menucolor: 			@menu_color;
@cartcolor: 			@cart_color;
@carthovercolor: 		@cart_hover_color;
@botomcolor: 			@botom_color;
@footercolor: 			@footer_color;
@buttonqwccolor: 		@buttonqwc_color;
@buttoncolor: 			@button_color;
@paginationcolor: 		@pagination_color;
@salecolor: 			@sale_color;
@featuredcolor: 		@featured_color;
@preset: 				"preset@{presetopt}";
@ratecolor: 			@rate_color;

// Defined colors

@black: 			#000000;
@white: 			#ffffff;
@borderfooter: 		#ededed;
@bannerboxbg: 		#282828;
@darkcolor: 		#333;
@greycolor:			#909295;
@lightgreycolor: 	#bababa;
@bordercolor: 		#d9d9d9;
@contactbg: 		#f1f1f1;
@bg_latest_news: 	#f5f5f5;
@graycolor: 		#ebebeb ;

//Social

@facebook:			#4a66a0;
@twitter:			#1da1f2;
@instagram:			#125688;
@tumblr:			#3b9acb;
@pinterest:			#bd2126;
@google-plus:		#d73d32;
@linkedin:			#0077b5;
@behance:			#0080ff;
@dribbble:			#ed6a9c;
@youtube:			#e42c24;
@vimeo:				#17b3e8;
@rss:				#f36f24;

// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Single Corner Border Radius
.border-top-left-radius(@radius) {
  -webkit-border-top-left-radius: @radius;
      -moz-border-radius-topleft: @radius;
          border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
  -webkit-border-top-right-radius: @radius;
      -moz-border-radius-topright: @radius;
          border-top-right-radius: @radius;
}
.border-bottom-right-radius(@radius) {
  -webkit-border-bottom-right-radius: @radius;
      -moz-border-radius-bottomright: @radius;
          border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
  -webkit-border-bottom-left-radius: @radius;
      -moz-border-radius-bottomleft: @radius;
          border-bottom-left-radius: @radius;
}

// Single Side Border Radius
.border-top-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-top-left-radius(@radius);
}
.border-right-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-bottom-right-radius(@radius);
}
.border-bottom-radius(@radius) {
  .border-bottom-right-radius(@radius);
  .border-bottom-left-radius(@radius);
}
.border-left-radius(@radius) {
  .border-top-left-radius(@radius);
  .border-bottom-left-radius(@radius);
}


.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

.animation(@animation) {
  -webkit-animation: @animation;
     -moz-animation: @animation;
          animation: @animation;
}
// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

//transform 
.transform(@transform) {
	-webkit-transform: @transform;
		-moz-transform: @transform;
			-o-transform: @transform;
				transform: @transform;
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

// Transformations
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
     -moz-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
      -ms-transform: scale(@ratio);
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.skew(@x, @y) {
  -webkit-transform: skew(@x, @y);
     -moz-transform: skew(@x, @y);
      -ms-transform: skew(@x, @y);
       -o-transform: skew(@x, @y);
          transform: skew(@x, @y);
}
.translate3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
     -moz-transform: translate3d(@x, @y, @z);
       -o-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}