/*
Theme Name: VG Sentech
Theme URI: http://wordpress.vinagecko.net/t/sentech/
Author: VinaGecko
Author URI: http://vinagecko.com/
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
	direction: rtl;
	unicode-bidi: embed;
	margin: 0;
}

caption,
th,
td {
	text-align: right;
}

ul,
ol {
	margin: 0;
}

.top-bar ul {
    float: right;
}
.sp-contact-info .sp-contact-email {
	margin-right: 15px;
}

.vg-shipping .box-col-inner .media-body {
	text-align: right;
}
.vg-shipping .box-col-inner .pull-left {
	margin-right: 0;
	margin-left: 10px;
}
.sp-cart {
	padding-right: 30px;
	padding-left: 0;
}
.mcart-border:after {
	right: auto;
	left: 63px;
}
.mini_cart_inner .top-cart-title .shopping_cart {
	padding-right: 0;
	padding-left: 10px;
}
.mini_cart_inner .top-cart-title .shopping_cart i {
	border-right: 0;
	border-left: 2px solid #e1e1e1;
}
.vg-testimonial .wpb_wrapper > h2 {
	padding: 5px 0 6px 10px;
}
.vg-testimonial .wpb_wrapper > h2:before {
	right: auto;
	left: -100%;
}

.mega_main_menu.first-lvl-align-left > .menu_holder > .menu_inner > ul {
    text-align: right;
}
#menu-container {
	padding-right: 0;
	padding-left: 0;
}
.sp-main-menu-wrapper.home1 #header-menu .mega_main_menu, .sp-main-menu-wrapper.home2 #header-menu .mega_main_menu {
	margin-right: -30px;
	margin-left: 0;
}
.mega_main_menu li.multicolumn_dropdown.submenu_full_width.drop_to_center > .mega_dropdown, .mega_main_menu li.multicolumn_dropdown.drop_to_right > .mega_dropdown {
	right: 0;
	left: auto;
}
.vg-search form.isp_search_box_form input[type="text"].isp_search_box_input {
	left: 0;
	right: auto;
}
.vg-search form.isp_search_box_form #wsearchsubmit {
	float: left;
}
.vg-search form.isp_search_box_form:hover input[type="text"].isp_search_box_input,
 .vg-search form.isp_search_box_form:focus input[type="text"].isp_search_box_input {
	padding-left: 60px;
	padding-right: 10px;
}
.vg-search form.isp_search_box_form {
	left: 0;
	right: auto;
}
.vgwc-product-price, .product-price, .compare-list .price, .price {
   direction: ltr;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col4 {
    padding: 0 0 0 15px;		
}

.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
    float: right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li {
	float: right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown {
    margin: 0 10px 0 0;
    float: right;
    left: 0;
    right: 100%;
}
.widget_mega_main_sidebar_menu .mega_main_menu.icons-left > .menu_holder > .menu_inner > ul > li > .item_link.with_icon > .link_content {
    float: right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
	left: auto;
	right: -10px;
	margin: 0px 0 0 -15px;
}
.widget_mega_main_sidebar_menu .vg-title span {
	padding: 20px 25px 18px 10px;
    background-position: right;
    text-align: right;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .add-to-links > div.vgwc-wishlist {
	margin-right: 0;
}
.tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list {
	text-align: right;
}
.tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list > li {
	padding-left: 8px;
    padding-right: 0;
    text-align: center;
}

.tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li a:after {
	right: 0 !important;
	left: auto !important;
}
.tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li:first-child a:after {
	display: none;
}
.tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li a {
    border-left: 1px solid #e5e5e5;
    border-right: 0;
}
.tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list {
	text-align: right;
}
.home-banner-static .banner-box .fa {
	padding-left: 34px;
	padding-right: 0;
}
/*Top*/
.top-menu ul li:after {
	left: 0;
	right: auto;
}
.top-bar ul.menu {
	float: left;
}
.mini_cart_inner {
	float: left;
}
.mini_cart_inner .item-cart .cart-quantity {
	float: left;
	margin-right: 3px;
}
.mcart-border {
	right: auto;
	left: 0;
}

/*Mega Menu*/
.mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.tabs_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_right > .mega_dropdown {
	left: auto;
	right: 100%;
}
.mega_main_menu.icons-left > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i {
	float: right;
	padding-left: 15px;
	padding-right: 0;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.menu-item-has-children > .item_link:after {
    right: auto !important;
    left: 25px !important;
    content: "\f104";
}
.owl-carousel .owl-buttons {
	left: 0;
	right: auto;
}
.owl-carousel .owl-controls .owl-buttons > div {
	left: 0;
	right: auto;
}
#contact-block .footer-static-content .link-contact >li >span.contact-icon{
	margin-left: 10px;
	margin-right: 0;
}
.vg-payment {
    padding-right: 0;
    padding-left: 15px;
}
.vg-social.social-network .social-icons li:first-child {
	margin: 10px 0 0 10px;
}
.vgwc-item.vertical.style2 .timer-grid .min,
.vgwc-item.vertical.style2 .timer-grid .sec,
.vgwc-item.vertical.style2 .timer-grid .hour,
.vgwc-item.vertical.style2 .timer-grid .day{
	float: right;
}
.vgwc-item.vertical.style2  .star-rating {
	margin-right: 0 !important; 
}
.vg-social.social-network .social-icons li:last-child{
	margin-left: 0;
}
#quickview-content .owl-carousel .owl-controls .owl-buttons > div.owl-next{
	left: auto;
}
.owl-carousel .owl-controls .owl-buttons > div.owl-next {
	left: 55px;
	right: auto;
}
.vgwc-product-price > del, .product-price > del, .compare-list .price > del, .price > del {
    margin: 0 5px 0 0;
}
.vgwc-product-price ins, .product-price ins, .compare-list .price ins, .price ins {
	float: right;
}
.main-container .product-view .summary.single-product-info .vgwc-product-price {
	text-align: right;
	display: inline-block;
	width: 100%;
}
.vgwc-wrapper.owl-carousel .owl-buttons .owl-prev {
	left: 0;
	right: auto;
}
.cateproductmenu .widget_mega_main_sidebar_menu .vg-title {
	padding: 0px 20px 0px 0px !Important;
}
.cateproductmenu .widget_mega_main_sidebar_menu .vg-title h3:after {
	left: 0;
	right: auto;
}
.layout-6 .tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list > li:last-child,
.layout-3 .tab-products.vc_tta.vc_general.style2 .vc_tta-tabs-container .vc_tta-tabs-list > li:last-child {
	border-right: 1px solid #fff;
}
.layout-6 .tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li,
.layout-3 .tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li {
	margin-left: 10px;
	margin-right: 0;
}
/*Product carousel*/
.main-container .page-content.blog-page .postinfo-wrapper .post-info {
	margin-left: 0;
	margin-right: 0;
}
.page-content h1.archive-title:before {
	right: 0;
}
.page-content .readmore:after {
	margin-right: 10px;
	margin-left: 0;
	transform: rotate(180deg);
}
/*Tab*/
.vina-tab-list-product .wpb_tabs_nav > li {
	float: right;
    background-position: left 3px !important;
}
.vina-tab-list-product .wpb_tabs_nav > li:last-child {
	padding-right: 15px !Important;
	padding-left: 0 !important;
}
.vina-tab-list-product .wpb_tabs_nav > li:first-child {
	padding-left: 15px !Important;
	padding-right: 0 !important;
}

.widget .vg-title:after, .wpb_text_column .vg-title:after {
	left: auto;
	right: 0;
}

.vg-social .social-icons {
	float: left;
}
.vg-newsletter .widget_wysija_cont > form > *.wysija-paragraph > .formError {
    margin-left: 1px;
}
.vg-newsletter .newsletter-container {
	padding-right: 482px;
	padding-left: 0;
}
.vg-newsletter .header-newsletter:before {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.footer-content .add {
	padding-right: 30px;
	padding-left: 0;
}
.footer-content .add:before {
	margin: 0 0 0 15px;
	left: auto;
	right: 0;
}
.vg-bottom-menu .menu li a:before {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

.rev_slider_wrapper .rev_slider .subtitle::after {
    bottom: 0;
    display: inline-block;
    left: 0;
    position: absolute;
}
.tab-product .vc_tta-tabs-list > li:last-child > a {
    background: rgba(0, 0, 0, 0) url("images/border_tabs.png") no-repeat scroll 100% 50% !important;
}
.tab-product .vc_tta-tabs-list > li:first-child > a {
    background: none !important;
}

.main-container .shop-products .item-col .product-wrapper .price-box .special-price {
	float: right;
}
.main-container .shop-products .item-col .product-wrapper .price-box .old-price {
	float: right;
}
.main-container .shop-products .item-col .product-wrapper .product-image .quick-view {
	left: 0;
	right: auto;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart {
	float: right;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button {
	border-left: 1px solid #eee;
	border-right: none;
	padding: 0px 0px 0px 15px;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button::before {
	margin: 0px 0px 0px 10px;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a, .main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist {
	padding: 0 15px 0 0;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button a.compare {
	padding: 0 15px 0 0;
}
.form-newsletter .images {
	right: auto;
	left: 60px;
}
.form-newsletter .form-content form.widget_wysija p {
	float: right;
}
.form-newsletter .form-content form.widget_wysija input.wysija-submit {
	float: right;
}
.owl-carousel {
	direction: ltr;
}
.vgwc-wrapper.owl-carousel .vgwc-item-i {
	direction:rtl;
}
.owl-theme .owl-controls .owl-pagination {
	left: auto;
	right: 0;
}
.our-brands .owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0;
	right: auto;
}
.our-brands .owl-theme .owl-controls .owl-buttons .owl-next {
	left: auto;
	right: 0;
}
.vg-bottom .menu li a::before {
	margin: 0px 0px 0px 8px;
}
.bottom-static-title h4 {
	padding: 0 0 0 10px;
}
.bottom-link .social-icons {
	float: right;
}
.bottom-link .social-icons li {
	float: right;
    margin: 0 0 0 10px;
}
.bottom-link .menu-link .nav_menu {
	float: left;
}
.bottom-link .menu-link .nav_menu li {
	float: right;
}
ul.address li span.fa::before {
    padding: 0 5px 0 0;
}
ul.address li span.fa {
	float: right;
	margin: 0px 0px 0px 15px;
}
.top-footer ul.menu > li > a::before {
    float: right;
    margin: 0 0 0 8px;
}
.payment {
    float: left;
}
.main-container .shop_header::after {
	right: 0;
	left: auto;
}	
.sidebar-category .product-categories li a::before {
	margin: 0px 0px 0px 8px;
}
.sidebar-category .woocommerce.widget_layered_nav ul li a::before {
	margin: 0px 0px 0px 8px;
}
.sidebar-category .yith-woocompare-widget .compare.button {
	float: left;
}
.main-container .toolbar .view-mode {
	float: right;
}
.main-container .toolbar .view-mode a {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
.main-container .toolbar .view-mode a strong {
	    -webkit-transform: translate(-4px,-4px);
    -moz-transform: translate(-4px,-4px);
    -ms-transform: translate(-4px,-4px);
    -o-transform: translate(-4px,-4px);
    transform: translate(-4px,-4px);
}
.timer-grid .hour,
.timer-grid .min,
.timer-grid .sec,
.timer-grid .day { 
	margin-right: 2%;
	margin-left: 0;
	float: right;
}
.timer-grid .day{margin: 0}

.woocommerce .woocommerce-product-rating .star-rating {
	float: right;
	margin: .5em 0px 0 4px;
}
.main-container .product-view .summary.single-product-info .price-box .vgwc-product-price {
    text-align: right;
}
table.compare-list tr.price .old-price .amount {
  margin: 0 0 0 5px;
}	
.main-container .toolbar .woocommerce-result-count {
    float: right;
    margin: 0 25px 0 0;
}
.main-container .toolbar .woocommerce-ordering {
    float: left;
}
.main-container .shop-products.list-view .item-col .product-wrapper .list-col4 {
    padding: 0 0 0 15px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-name {
	text-align: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .ratings {
    text-align: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-image .quick-view {
    left: 5px;
	right: auto;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-cart {
	float: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button {
	padding: 0 0 0 15px;
	border-left: 1px solid #eee;
	border-right: 0;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button::before {
	margin: 0 0 0 10px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a, .main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist {
	padding: 0 15px 0 0;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .compare-button a.compare {
	padding: 0 15px 0 0;
}
.main-container .toolbar .woocommerce-pagination {
    float: left;
}
.quickview-wrapper #quickview-content .product-images {
	float: right;
}
.quickview-wrapper #quickview-content .product-info {
    padding: 0 30px 0 0; 
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .quantity {
    float: right;
    margin: 0 0 0 5px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button {
	float: right;
}
.quickview-wrapper #quickview-content .widget .widget-title {
	text-align: right;
}
.quickview-wrapper #quickview-content .widget .social-icons {
    float: right;
}
.quickview-wrapper #quickview-content .widget .social-icons li {
	float: right;
    margin: 0 0 0 10px;
}
.main-container .shop-products .item-col .product-wrapper .onsale {
	left: auto;
	right: 10px;
}
.woocommerce span.lbfeatured {
	left: 10px;
	right: auto;
}
.main-container .product-view .summary.single-product-info .price-box {
	float: right;
}
.main-container .product-view .summary.single-product-info .price-box .price {
	float: right;
}
.main-container .product-view .summary.single-product-info .stock-status {
	float: left;
}
.main-container .product-view .summary.single-product-info .stock-status span {
	float: left;
}
.main-container .product-view .summary.single-product-info .cart .button {
	float: right;
}
.main-container .product-view .summary.single-product-info .cart .quantity {
	float: right;
    margin: 0 0 0 15px;
}
.main-container .product-view .summary.single-product-info .actions .add-to-links {
    float: right;
}
.main-container .product-view .single-product-sharing .social-icons {
	float: right;
}
.main-container .product-view .single-product-sharing .social-icons li {
	float: right;
}
.main-container .product-view .single-product-sharing .social-icons li:first-child {
    margin-left: 6px;
    margin-right: 0;
}
#breadcrumbs .separator {
    transform: rotate(-180deg);
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li {
	float: right;
}
.vg-contact-us span.fa {
	padding-right: 6px;
	padding-left: 0;
}
.vg-contact-content .info {
    float: right;
}
.vg-contact-content .info li i {
    margin: 0 0 0 7px;
}
.woocommerce p.stars a {
	margin-right: 0;
	margin-left: 1em;
}
.sidebar-category .woocommerce.widget_top_rated_products ul.product_list_widget li img {
	float: right;
    margin: 0 0 0 10px;
}
.main-container .shop-products .item-col .product-wrapper {
	direction: rtl;
}
.main-container .product-view .summary.single-product-info .cart .variations .label {
	text-align: right;
}
.main-container .product-view .summary.single-product-info .cart .variations .value {
	padding-right: 0;
}
.main-container .product-view .summary.single-product-info .cart .variations .reset_variations {
    float: right;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price {
    float: right;
	width: auto;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.quantity-row {
    float: right;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.label {
	text-align: right;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div {
    text-align: left;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.price .vgwc-product-price {
	margin: 8px 11px 0 0;
}
.main-container .product-view .summary.single-product-info .group_table .group-row .quantity-row {
    float: right;
}
#secondary .widget.widget_product_categories ul li > a, #secondary .widget.widget_categories ul li > a {
    padding-right: 5px;
    padding-left: 0;
}
#secondary.sidebar-blog .widget.widget_categories .vg-title span {
    padding: 15px 30px 15px 0;
    background-position: 100% 53%;
}
#secondary.sidebar-blog .widget.widget_categories ul li a::before {
	margin: 0px 0px 0px 8px;
}
#secondary.sidebar-blog .widget.widget_sentech_widgets ul li .post-wrapper .post-thumb {
    float: right;
}
#secondary.sidebar-blog .widget.widget_sentech_widgets ul li .post-wrapper .post-info {
	margin-left: 0;
    margin-right: 60px;
}
#secondary .widget.widget_categories ul li:before {
	display: none;
}
#secondary .widget.widget_categories ul li a {
    float: right;
    padding: 0 20px 0 5px;
}
.su-slider {
	direction: ltr;
}
.main-container .page-content.blog-page .postinfo-wrapper .post-date {
	right: 20px;
	left: auto;
}

.page-content .entry-meta > span {
	margin-right: 15px;
	float: right;
}
.page-content .entry-meta > span.author {
	margin-right: 0;
}
.page-content .entry-meta > span i {
	margin-left: 5px;
	margin-right: 0;
}
.page-content .entry-meta:after {
	right: 0;
	left: auto;
}
.pagination a, .pagination span {
	float: right;
}
.main-container .page-content.blog-page .entry-title {
	text-align: right;
}
.default-page .entry-header h1.entry-title:before {
	right: 0;
	left: auto;
}
.main-container .page-content .entry-content .actions .cart-total-wrapper {
	float: left;
}
.main-container .page-content.blog-page .entry-meta-small::before {
	right: 0;
	left: auto;
}
.main-container .page-content.blog-page .entry-meta::before {
	right: 0;
	left: auto;
}
.main-container .page-content.blog-page .author-info .author-avatar {
    float: right;
}
.main-container .page-content.blog-page .author-info .author-description {
    margin-left: 0;
    margin-right: 88px;
}
.filter-options.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 25px 25px 0;
}
.filter-options.btn-group > .btn:last-child:not(:first-child), .filter-options.btn-group > .dropdown-toggle:not(:first-child) {
	border-radius: 25px 0px 0px 25px;
}
.single-project.has-gallery .project_date, .single-project.no-gallery .project_date {
	float: right;
}
.single-project.has-gallery .summary, .single-project.no-gallery .summary {
	margin-left: 0;
    margin-right: 95px;
}
.single-project .project .summary .single-project-categories li::before {
	float: right;
	margin: 0px 0px 0px 10px;
}
.single-project .project .summary .project-url::before {
	float: right;
	margin: 0px 0px 0px 10px;
}
.vc_progress_bar .vc_single_bar .vc_label {
	text-align: left;
}
.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-controls-icon {
    left: 20px;
    right: auto;
}
.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-panel-title > a {
	text-align: right;
}
.main-container.services-page .features-item i {
    margin: 17px 17px 0px 0px;
	float: right;
}
.main-container.services-page .services-list ul li::before {
	margin: 0 0 0 8px;
}
.main-container.services-page .services-content h2 {
	text-align: right;
}
.main-container.page-faq .vc_toggle.vc_toggle_simple .vc_toggle_title {
	padding: 8px 45px 7px 0;
}
.main-container.page-faq .vc_toggle.vc_toggle_simple .vc_toggle_icon {
	left: auto;
	right: 10px;
}
.main-container.page-faq .features-item i {
	margin: 0 0 0 15px;
	float: right;
}
body.error404 .page-404 .searchform {
	margin-left: 0;
    margin-right: 20px;
}
.vc_tta.vc_general .vc_tta-panel-title > a {
	text-align: right;
}
.vc_slide {
	direction: ltr;
}
.su-carousel {
	direction: ltr;
}
a.pp_arrow_previous, a.pp_arrow_next {
	font-size: 0;
}
.pp_nav .pp_play, .pp_nav .pp_pause, a.pp_close, a.pp_expand, a.pp_contract {
	font-size: 0;
}
a.pp_next, a.pp_previous {
	font-size: 0;
}
.vc_btn3-container.vc_btn3-left {
    text-align: right;
}

.rev_slider .tp-caption.subtitle2 {
	text-align: center;
}
.rev_slider .tp-caption.description2 {
	text-align: center;
}
.vgwc-wrapper.owl-carousel .owl-buttons div {
	left: 21px;
    right: auto;
}
.vgwc-wrapper.owl-carousel .owl-buttons .owl-prev {
	left: 0;
    right: auto;
}
.main-container .product-view .related_products_widget .widget-title {
	text-align: right;
}
.related_products_widget .widget-title span {
	padding: 0 0px 0 15px;
}
.main-container .product-view .related_products_widget .owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0;
	right: auto;
}
.mobile-menu-container ul.nav-menu > li .fa {
	right: auto;
	left: 0;
}
.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
	padding: 0 10px 0 0px;
}
.mbmenu-toggler span.mbmenu-icon {
	float: right;
	margin: 0 0 0 3px;
    background-position: right center;
}
.mbmenu-toggler span.title:after {
	left: 0;
	right: auto;
}
.mobile-menu-container > ul > li .fa, .mobile-mega-menu > ul > li .fa {
	float: left;
	left: 0;
	right: auto;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li .mega_dropdown > li > .item_link,
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown,
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul > li .mega_dropdown > li,
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown:hover > ul,
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul > li > .item_link,
#sp-logo .logo a,
.top-bar .top-info{
	text-align: right;
}
.vg-search form#codenegar_ajax_search_form #wsearchsubmit{
    right: 100% !important;
    left: auto;	
}
table.compare-list th{
	text-align: center !important;
}
table.compare-list .vgwc-product-price{
	text-align: center;
}
.vg-search form#codenegar_ajax_search_form input[type="text"].ajax_autosuggest_input{
	border-right: 2px solid #d7d7d7 !important;
	border-left: 0 !important;
}
.mcart-border .cart_empty  li:first-child{
	text-align: right;
}
.vgwc-item.item-timeproduct .vgwc-full-left {
    float: right;
}
.mini_cart_inner .top-cart-title .shopping_cart .total{
	float: left;	
}
.mini_cart_inner .shopping-cart-text{
	float: right;
}
.mini_cart_inner .shopping-cart-text{
	padding: 0 10px 0 45px;
	background-position: 10px 7px;
}
.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li{
    padding-left: 15px;
    padding-right: 0px;	
}
.woocommerce ul.cart_list li .product-image,
.woocommerce ul.product_list_widget li .product-image{
	float: right;
}
.woocommerce ul.cart_list li .product-image .quantity,
.woocommerce ul.product_list_widget li .product-image .quantity{
    left: auto;
    right: -10px;	
}
.shop_table.cart.wishlist_table .vgwc-product-price{
	text-align: center;
}
.quantity {
	float: right;
}
.page-content .entry-meta > span a{
	margin-right: 3px;
}
.page-content .comments-area .commentlist li.comment article.comment .comment-avatar{
	float: right;
}
.page-content .comments-area .commentlist li.comment article.comment .comment-info {
    margin-left: 0;
    margin-right: 60px;
	overflow: hidden;
}
.page-content .comments-area .commentlist li.comment article.comment .comment-info:before{
	left: auto;
	right: -5px;
	border-bottom: 0;
	border-left: 0;
	border-top: 1px solid #ececec;
	border-right: 1px solid #ececec;
}
.page-content .comments-area .commentlist li.comment article.comment .comment-info .reply {
    margin-left: 0;
    margin-right: 10px;
}
.page-content .edit-link {
    float: left;
}
.alignnone {
    margin: 5px 0px 20px 020px;
}
#vc_load-inline-editor{
	margin-left: 15px;	
}
.woocommerce ul.cart_list li .product-details,
.woocommerce ul.product_list_widget li .product-details{
    padding-left: 0;
    padding-right: 65px;
    text-align: right;	
}
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
    right: auto;
    left: 0;
}
.ajax_autosuggest_suggestions .ajax_autosuggest_more{
	background-position: 4px 4px !important;
}
.vg-search form#codenegar_ajax_search_form #wsearchsubmit{
	border-left: 2px solid #d7d7d7;
	border-right: 0;
} 
.mini_cart_inner .top-cart-title .shopping_cart {
    padding-right: 0;
    padding-left: 0;
}
.mini_cart_inner .shopping-cart-text {
    padding: 0 45px 0 10px;
    background-position:90% 60%;
}
.sp-main-menu-wrapper .wrapper-main-menu #sp-call{
	padding-left: 15px;
	padding-right: 0;
}
.sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
    padding-right: 15px;
    padding-left: 0;
}
.sp-main-menu-wrapper .wrapper-main-menu #sp-call .call_sp >a {
    left: auto;
    right: 0;
	-webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.sp-main-menu-wrapper .wrapper-main-menu #sp-call .call_sp{
	padding-left: 0;
	padding-right: 65px;
}
.sp-top-contact{
	float: right;
}
.mega_main_menu li.default_dropdown.submenu_full_width.drop_to_center > .mega_dropdown,
.mega_main_menu li.default_dropdown.drop_to_right .mega_dropdown {
    left: auto;
    right: 0px;
}
.widget_mega_main_sidebar_menu .vg-title::before{
    left: auto;
    right: 0;	
}
.vg-title >h3::before {
    left: auto;
    right: -14px;
}
.vg-title >h3::after{
	left: auto;
	right: -14px;
	border-right: 14px solid transparent;
	border-left: 0;
}
.widget_mega_main_sidebar_menu .vg-title h3{
	padding: 0px 65px 0px 10px;
	background-position: 91% 20px;
	text-align: right;
}
.vg-bestseller .vg-title::before, .vg-featured-products .vg-title::before{
	left: auto;
	right: 20px;
}
.widget .vg-title h3 i, .wpb_text_column .vg-title h3 i{
    margin-right: 0;
    margin-left: 5px;	
}
.vgwc-item.vertical .ma-box-content .vgwc-image-block {
    left: auto;
    right: 0;
}
.vg-sidebar .vgwc-item.vertical .ma-box-content {
    padding: 0 115px 20px 0px;
}
.vgwc-product-price, .product-price, .compare-list .price, .price,
.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-product-price,
.vgwc-product-rating,
.vgwc-item .ma-box-content .vgwc-text-block .vgwc-product-title,
.vgpc-wrapper .vgpc-post-readmore,
.vgpc-wrapper .vgpc-post-author,
.main-container .page-content .entry-content p,
.vgpc-wrapper .vgpc-post-title,
.vgwc-item.vertical .ma-box-content .vgwc-text-block{
	text-align: right;
}
.team-member .team-details >p{
	text-align: center !important;
}
#footer-corporate .block-wrapper .media-body{
	margin: 10px 10px 0px 0px;
	text-align: right;
}
.footer-static-content .link-contact li i::before,
#footer-corporate .block-wrapper span.fa::before {
    margin-left: 0;
    margin-right: 5px;
}
.vg-social.social-network {
    display: inline-block;
    width: 100%;
}
.footer-static-content .link-contact li i {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.layout-4 .sv-deal-home-1 .vg-title h3::before,
.layout-1 .sv-deal-home-1 .vg-title h3::before {
    right: auto;
    left: -12px;
}
.layout-4 .sv-deal-home-1 .vg-title h3::after,
.layout-1 .sv-deal-home-1 .vg-title h3::after {
    left: -12px;
    right: auto;
    border-right: 0;
    border-left: 12px solid transparent;
}
.layout-5 .vc_tta-container h2::after, .layout-5 .vg-title >h3::after,
.layout-4 .vc_tta-container h2::after, .layout-4 .vg-title >h3::after,
.layout-1 .vc_tta-container h2::after, .layout-1 .vg-title >h3::after,
.layout-2 .vc_tta-container h2::after, .layout-2 .vg-title >h3::after,
.layout-4 .vc_tta-container h2::before, .layout-4 .vg-title >h3::before,
.layout-5 .vc_tta-container h2::before, .layout-5 .vg-title >h3::before,
.layout-1 .vc_tta-container h2::before, .layout-1 .vg-title >h3::before,
.layout-2 .vc_tta-container h2::before, .layout-2 .vg-title >h3::before{
    left: 0;
    right: -14px;	
}
.vc_tta-container h2::after{
    left: auto;
	right: -14px;
    border-left: 0;
    border-right: 14px solid transparent;
}
.layout-5 .vgwc-item.vertical .ma-box-content,
.layout-4 .vgwc-item.vertical .ma-box-content,
.layout-2 .vgwc-item.vertical .ma-box-content,
.layout-1 .vgwc-item.vertical .ma-box-content {
    padding: 0px 115px 20px 0px;
}
.main-container .page-content .entry-content #order_review .shop_table tfoot th{
	padding-right: 10px;
}
#secondary .widget.widget_layered_nav ul li:before, #secondary .widget.widget_meta ul li:before,
#secondary .widget.widget_recent_comments ul li:before, #secondary .widget.widget_archive ul li:before,
#secondary .widget.widget_recent_entries ul li:before{
    margin-right: 0;
    margin-left: 8px;
	float: right;
	line-height: 30px;	
}
.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span,
#secondary .widget:not(.widget_mega_main_sidebar_menu) ul li a,
#secondary .widget:not(.widget_mega_main_sidebar_menu) ol li a{
	float: right;
}
.main-container .product-view .single-product-image .vgwc-label.vgwc-featured {
    left: auto;
	right: 10px;
}
.main-container .product-view .single-product-image .vgwc-label.sale-featured.vgwc-onsale{
	right: auto;
	left: 10px;
}

.sidebar-product .vgwc-item.vertical .ma-box-content {
    min-height: 90px;
    padding: 0 115px 20px 0px;
}
.main-container .product-view .related_products_widget .owl-theme .owl-controls .owl-buttons .owl-next {
    left: 55px;
	right: auto;
}
.main-container .product-view .summary.single-product-info .share_buttons{
	float: right;
}
.service-item-2 >p{
	text-align: center !important;
}
.main-container.about-page .team-member .team-details h6{
	text-align: center;
}
.subheading,
.process-wrap >p{
	text-align: center !important;
}
#secondary .widget.widget_product_categories .vg-title,
#secondary .widget.widget_categories .vg-title{
	text-align: right !important;
}
.vc_tta-container h2::before {
    left: auto;
	right: -14px;
}
.vg-btn-revo2 a {
    padding: 7px 25px !important;
    font-size: 17px !important;
}
.layout-5 .category-main-menu .morelesscate span i,
.layout-4 .category-main-menu .morelesscate span i,
.layout-1 .category-main-menu .morelesscate span i,
.layout-2 .category-main-menu .morelesscate span i {
    padding-right: 0;
    padding-left: 15px;
}
.timer-grid .hour, .timer-grid .min, .timer-grid .sec, .timer-grid .day{
	margin:0 1.5% !important;
}
#secondary .widget.widget_product_categories ul li > span,
#secondary .widget.widget_categories ul li > span{
	padding-right: 0;
}
.woocommerce div.product form.cart .variations select{
	margin-right: 0;
}
.vgwc-product-rating{
	direction: ltr;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group2 {
    width: auto;
    float: right;
}
.layout-4 .category-main-menu .vg-title h3,
.layout-5 .category-main-menu .vg-title h3,
.layout-1 .category-main-menu .vg-title h3,
.layout-2 .category-main-menu .vg-title h3 {
	padding: 0px 65px 0px 10px;
}
.page-template-front-page .category-main-menu .widget_mega_main_sidebar_menu .vg-title h3::before {
    width: 15px;
}
.layout-1 .vc_tta-container h2::before,
.layout-4 .vc_tta-container h2::before,
.layout-1 .vg-title >h3::before,
.layout-4 .vg-title >h3::before,
.layout-5 .vc_tta-container h2::before,
.layout-2 .vc_tta-container h2::before,
.layout-5 .vg-title >h3::before,
.layout-2 .vg-title >h3::before {
	width: 16px;
	right: -14px;
}
.top-wrapper .widget_nav_menu #menu-top-menu {
    float: left;
}
.top-wrapper .widget_nav_menu #menu-top-menu  li:first-child a{
	padding-left: 0;
}
.main-container .page-content .entry-content #order_review .shop_table tfoot th,
.main-container .page-content .entry-content #order_review .shop_table .product-name {
    text-align: right;
}
#sp-search{
	float: right;
	padding-right: 0px;
	padding-left: 57px;
}
#sp-search-cart .sp-cart {
    float: left;
}
#sp-search-cart .ajax_autosuggest_indicator{
	background-position: 5px center !important;
}
.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button .vgwc-button-group .add-to-links > *.vgwc-compare {
	margin-left: 5px;
}
.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button .vgwc-button-group .add-to-links > *.vgwc-wishlist {
    margin: 0 0px 3px 5px;
}
.main-container .shop-products.list-view .product-desc{
	text-align: right;
}
.mega_main_menu li.widgets_dropdown > .mega_dropdown > li,
.mega_main_menu li.multicolumn_dropdown > .mega_dropdown > li {
	float: right;
}
.vgwc-item .vgwc-text-block .vgwc-product-price{
	float: right;
}
.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-add-to-cart {
    float: right;
    margin-right: 0;
}
.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button{
	float: right;
}
.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button .vgwc-button-group{
	margin-right: 5px;
}
.timer-grid .day{
	margin-right: 0 !important;
	margin-left: 1.5% !important;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
	float: right;
}
#secondary.sidebar-category .widget_price_filter form .price_label{
	float: left;
}
#add_payment_method #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li{
	text-align: right;	
}
.atc-notice-wrapper .product-image {
    float: right;
}
.atc-notice-wrapper .product-info {
    float: right;
    padding-left: 0;
    padding-right: 25px;
}
.mcart-border .total .amount {
    float: left;
}
.mcart-border > * {
    text-align: right;
}
.mcart-border .buttons a.pull-left{
	float: right !important;
}
.mcart-border .buttons a.pull-right{
	float: left !important;	
}
.quickview-wrapper .quick-modal .closeqv{
	right: auto;
	left: 10px;
}
.rtl .ajax_autosuggest_suggestions a img {
    float: right;
    padding: 3px 5px;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.menu-item-has-children > .item_link {
    padding: 0 20px 0 30px;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:after {
    right: auto;
    left: 13px;
}
.main-container.services-page .features-item {
    padding: 0 90px 0 0;
}
.main-container.services-page .features-item .features-icon {
    left: auto;
    right: 0;
}
.main-container .page-content .entry-content .checkout_coupon .input-text {
    padding: 0 10px 0 0;
}
#add_payment_method #payment div.payment_box:before,
.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
    right: 10px;
    left: auto;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li a {
    direction: ltr;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text {
    margin-left: 0px;
    margin-right: 80px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    left: auto;
	right: 0;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text:before {
	left: auto;
    right: -6px;
	-webkit-transform: rotate(222deg);
	-ms-transform: rotate(222deg);
	-o-transform: rotate(222deg);
	transform: rotate(222deg);
}
@media screen and (max-width: 1200px){
	.vg-sidebar .vgwc-item.vertical .ma-box-content{
		padding: 0;
	}
	.vgwc-item.vertical .ma-box-content .vgwc-text-block .vgwc-product-title{
		text-align: center;
	}
	.vertical.style2 .ma-box-content .vgwc-text-block .vgwc-product-price,
	.vertical.style2 .ma-box-content .vgwc-text-block,
	.vertical.style2 .ma-box-content .vgwc-text-block .vgwc-product-rating,
	.vertical.style2 .ma-box-content .vgwc-text-block .vgwc-product-title{
		text-align: center;
	}
	.vgwc-product-price ins, .product-price ins,
	.compare-list .price ins, .price ins {
    float: none;
	}
	.sp-main-menu-wrapper .wrapper-main-menu #sp-call .call_sp >a {
		left: auto;
		right: -1px;
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-add-to-cart {
		float: right;
		margin-right: 0;
	}
	.vgwc-item.item-timeproduct .ma-box-content .vgwc-wrpper-button .vgwc-button-group{
		float: right;
	}	
}

@media screen and (max-width: 1023px){
	.layout-6 .mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul >li,
	.layout-6 .mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul >li.nav_search_box,
	.layout-3 .mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul >li,
	.layout-3 .mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul >li.nav_search_box {
		float: right;
	}
	#footer-corporate .block-wrapper .media-body {
		margin: 10px 6px 0px 0px;
	}
	.mega_main_menu.responsive-enable li.multicolumn_dropdown > .mega_dropdown > li{
		width: 25% !important;
	}
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
		padding-right: 0px;
		padding-left: 15px;
	}
	.sp-main-menu-wrapper .category-main-menu .widget_mega_main_sidebar_menu .vg-title::before{
		left: 0;
		right: auto;
	}	
}
@media screen and (max-width: 992px) {
	.vg-testimonial .wpb_wrapper > h2:before {
		right: auto;
		left: -500%;
	}
	.top-wrapper .widget_nav_menu #menu-top-menu >li a{
		border-right: 0;
	}
	.top-wrapper .widget_nav_menu #menu-top-menu >li a{
		padding: 0 10px;
	}
	.top-wrapper .widget_nav_menu #menu-top-menu >li:last-child a{
		padding: 0 10px;
	}
	.top-wrapper .widget_nav_menu #menu-top-menu li:first-child a{
		padding: 0 10px;
	}
	#footer-corporate .block-wrapper .media-body {
		margin: 15px 0px 0px 0px;
		text-align: center;
	}
	.vg-sidebar .widget_mega_main_sidebar_menu .vg-title h3 {
		background-position: 97% 23px;
	}
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
		padding-right: 15px;
	}
		
	.widget_mega_main_sidebar_menu .vg-title h3 {
		background-position: 94% 23px;
	}
	.sp-main-menu-wrapper .wrapper-main-menu #sp-call .call_sp >a{
		right: 15px;
	}
	.sp-main-menu-wrapper .wrapper-main-menu #sp-call,
	.sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
		padding-right: 15px;
		padding-left: 15px;
	}
	#sp-logo .logo {
		border: 0;
	}
	.mobile-menu-container > ul > li ul.sub-menu, .mobile-mega-menu > ul > li ul.sub-menu {
		padding: 0 18px 0 0;
	}
	.main-container .shop-products .item-col .product-wrapper .product-image .quick-view {
		left: 5px;
	}
	.main-container.page-faq .features-item i {
		float: none;
		margin: 0;
	}
	.sp-contact-info .sp-contact-email{
		padding-right: 0;
		padding-left: 17px;
		margin: 0;
	}
	.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button{
		float: right;
	}
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-add-to-cart {
		margin-left: 5px;
	}
	.vg-sidebar .vgwc-item.vertical .ma-box-content {
		padding: 0 115px 20px 0px;
	}	
}
@media screen and (max-width: 767px) { 
	.mcart-border {
		right: 0;
		left: auto;
	}
	.main-container .shop-products.list-view .product-desc{
		text-align: center;
	}
	#footer-corporate .block-wrapper .media-body {
		margin: 0px 10px 0px 0px;
		text-align: right;
	}
	.top-bar .top-info {
		text-align: center;
	}
	.vg-sidebar .widget_mega_main_sidebar_menu .vg-title h3 {
		background-position: 95% 23px;
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-text-block{
		text-align: center;
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group2 {
		width: auto;
		float: none;
		display: inline-block;
	}
	.widget_mega_main_sidebar_menu .vg-title h3 {
		background-position: 93% 23px;
	}
	.vg-sidebar .vgwc-item.vertical .ma-box-content {
		padding: 0 99px 20px 0px;
	}
	.mcart-border:after {
		right: 63px;
		left: auto;
	}
	.cateproductmenu .widget_mega_main_sidebar_menu .vg-title {
		padding: 2px 20px 1px 0px !Important;
	}
	.vg-newsletter .newsletter-container {
	    padding-right: 0;
	}
	.main-container .shop-products .item-col {
		display: inline-block;
		float: right;
	}
	.latest-news .spc-container .spc-list li .text-block {
		padding: 15px 0px 0 0;
	}
	.vgwc-item.vertical.style2 >.vgwc-item-i .ma-box-content,
	.bottom-link .menu-link .nav_menu {
		float: right;
		padding: 0px 115px 20px 0px;
	}
	.vgwc-product-price,
	.product-price, .compare-list .price,.price,
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-product-price,
	.vgwc-product-rating, .vgwc-item .ma-box-content .vgwc-text-block .vgwc-product-title,
	.vgwc-item.item-timeproduct .ma-box-inner .vgwc-full-left .vgwc-text-block .vgwc-add-to-cart >p,
	.vgwc-item.vertical .ma-box-content .vgwc-text-block {
		text-align: center;
	}	
	.payment {
		float: right;
	}
	.main-container.about-page .vina-addon-content .vina-img img {
		margin: 0;
	}
	.share_buttons {
		float: right;
	}
	.vertical.style2 .ma-box-content .vgwc-text-block .box-timer {
		margin-right: 6px;
	}
	.layout-4 .vgwc-item.item-timeproduct-2 .ma-box-content .vgwc-text-block .vgwc-product-price del,
	.layout-1 .vgwc-item.item-timeproduct-2 .ma-box-content .vgwc-text-block .vgwc-product-price del{
		float: none;
	}
	.layout-4 .vgwc-item.item-timeproduct-2 .ma-box-content .vgwc-text-block .vgwc-product-price span,
	.layout-1 .vgwc-item.item-timeproduct-2 .ma-box-content .vgwc-text-block .vgwc-product-price span{
		float: none;
	}	
}
@media screen and (max-width: 599px) {
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .category-main-menu,
	.layout-2 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-5 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-4 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper,
	.layout-1 .sp-main-menu-wrapper .wrapper-main-menu .menu-wrapper {
		width: 100%;
	}
	.widget_mega_main_sidebar_menu .vg-title h3 {
		background-position: 96% 23px;
	}
	.vc_tta-container h2::after,
	.vg-title >h3::after{
		right: -13px !important;
		bottom: -14px !important;
		border-width: 14px !important;
	}
	.sv-deal-home-1 .vg-title h3::after{
		left: -13px !important;
		bottom: -13px !important;
		border-width: 13px !important;
		right: auto !important;
	}
	.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button .vgwc-button-group .add-to-links > *.vgwc-wishlist {
		margin: 0 5px 3px 5px;
	}
	.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button .vgwc-button-group .add-to-links > *.vgwc-compare{
		margin-left: 0;
	}
}

@media screen and (max-width: 479px) {
	.vgwc-item.item-timeproduct.style1 .ma-box-content .vgwc-wrpper-button {
		float: none;
	}
	.vertical.style2 .ma-box-content .vgwc-text-block .box-timer {
		margin-right: 4px;
	}
}
@media screen and (max-width: 460px) {
	.main-container .product-view .product .woocommerce-tabs ul.tabs li:last-child {
		border: none;
	}
	.widget_mega_main_sidebar_menu .vg-title h3 {
		background-position: 93% 20px;
	}	
	.main-container .page-content.blog-page .postinfo-wrapper .post-date {
		text-align: right;
		right: 0;
	}
	.main-container .page-content.blog-page .postinfo-wrapper .post-info {
		margin-left: 0;
		margin-right: 0;
	}
	.main-container .page-content.blog-page .social-sharing .social-icons li {
		margin: 0 0px 10px 5px;
		float: right;
	}
	.single-project.has-gallery .project_date .social-sharing .social-icons li, .single-project.no-gallery .project_date .social-sharing .social-icons li {
		margin: 0 0px 10px 5px;
		float: right;
	}
	.single-project.has-gallery .summary, .single-project.no-gallery .summary {
		margin-left: 0;
		margin-right: 0;
	}
	.mcart-border {
		left: -55px;
	}
}