/*
Theme Name: VG Sentech
Theme URI: http://wordpress.vinagecko.net/t/sentech/
Author: VinaGecko
Author URI: http://vinagecko.com/
Description: VG Sentech - Responsive Digital Woocommerce Theme. VG Sentech is a unique and flexible WordPress Theme for marketplace and online stores selling digital products. It is compatible with the latest version of WordPress 4.5+, WooCommerce 2.5+ and built based on the latest Twitter Bootstrap 3 technology. This theme comes with 3 Unique Layouts (with 5 Presets Color for each layout), 3 Box Layouts and 100% responsive that runs smoothly on any type of devices. It also looks sharp and clear on modern devices with high screen resolution because every area of this theme is retina ready. And it comes with an unbranded admin Theme Options panel that gives you full control of the customization of your website also integrated with drag and drop visual composer to help you build unlimited page layout for your website. Aside from just looking beautifully polished and clean, VG Sentech comes packed with features and options. The most powerful and trendy features such as Product Quick View, Product Compare, VG WooCarousel (save $17), Product Tabs Slider, VG PostCarousel (save $15), Ajax Wishlist, Visual Composer (save $34), Ajax Shopping Cart, Revolution Slider (save $19) and Mega Main Menu (Save $15) with many columns under each product categories takes customers to everywhere in your online shops with much more features. We have a dedicated support center for all of your support needs. It includes our Documentation, Community Forum and an advanced Ticket System for any questions you have. We usually get back to you within 14-16 hours. (except holiday seasons which might take longer). Use our theme you will never working alone!
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: wordpress theme, woocommerce theme, bootstrap 3, visual composer, product carousel, responsive, fashion, high-tech, watches, interior, product compare, product wishlist, furniture, woocarousel, postcarousel.
Text Domain: vg-sentech

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*------------------------------------------------------------------
[Table of contents]

This theme compiles .less files into .css files. Please open "less" folder to see all LESS file.

1. Theme variables
	1.1 Fonts
	1.2 Colors
	1.3 Defined colors
2. Global CSS
	2.1 Import Fonts
	2.2 HTML Elements
	2.3 Top bar
	2.4 Header default
	2.5 Menu
	2.6 Mobile menu
	2.7 Page Builder Style
		2.7.1 Slideshow
		2.7.2 Banner Style
		2.7.3 Tooltip Style
		2.7.4 Tab Product
		2.7.5 Title Style
		2.7.6 Latest News
		2.7.7 Our Brands
	2.8 WooCommerce onsale label
	2.9 Bottom
	2.10 Footer
	2.11 Added to cart popup
	2.12 Quick view
	2.13 Content
		2.10.1 Page headers
		2.10.2 List products
		2.10.3 Shop toolbar
		2.10.4 Product page
		2.10.5 Contact page
		2.10.6 Cart page
		2.10.7 Full width template
		2.10.8 Default page template
		2.10.9 Page content
		2.10.10 cart page & checkout page
		2.10.11 Checkout page
		2.10.12 Blog page
		2.10.13 Error 404 page
		2.10.14 Sidebars
		2.10.15 Carousel buttons
		2.10.16 Portfolio page
		2.10.17 Single project
	2.14 Page Other
		2.14.1 About Us
		2.14.2 Page 404
		2.14.3 Page Services
		2.14.4 Home Page 2
		2.14.5 Home Page 3
		2.14.6 Home Page 4
	2.15 Page Load
3. Responsive CSS
-------------------------------------------------------------------*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
	max-width: 100%;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.wp-caption-text,
.gallery-caption,
.bypostauthor {
	font-style: italic;
	font-size: 12px;
	color: #757575;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption {
	max-width: 100%;
}